In [1]:
import pandas as pd
import zipfile
import etl_tools as etl

In [2]:
beer_reviews_src = 'resources/beerreviews.zip'
us_breweries_src = 'resources/us-breweries.zip'

In [3]:
with zipfile.ZipFile(beer_reviews_src) as z:
   with z.open("beer_reviews.csv") as f:
      beer_reviews_src_df = pd.read_csv(f)

beer_reviews_src_df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [4]:
beer_reviews_src_df['brewery_name'].nunique()

5742

In [5]:
with zipfile.ZipFile(us_breweries_src) as z:
   with z.open("breweries_us.csv") as f:
      us_breweries_src_df = pd.read_csv(f)
us_breweries_src_df.head()

,brewery_name,type,address,website,state,state_breweries
0,Valley Brewing Co.,Brewpub,"PO Box 4653, Stockton, California, 95204",http://www.valleybrew.com/,california,284
1,Valley Brewing Co.,Brewpub,"157 Adams St., Stockton, California, 95204",http://www.valleybrew.com/,california,284
2,Valley Brewing Co,Microbrewery,"1950 W Freemont, Stockton, California, 95203",http://www.valleybrew.com/,california,284
3,Ukiah Brewing Company,Brewpub,"102 S. State St., Ukiah, California, 95482",http://www.ukiahbrewingco.com/,california,284
4,Tustin Brewing Co.,Brewpub,"13011 Newport Ave. #100, Tustin, California, 9...",http://www.tustinbrewery.com/,california,284

In [6]:
us_breweries_src_df['brewery_name'].nunique()

2308

<h2>clean up beer_reviews_src_df</h2>

In [7]:
beer_reviews_src_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
brewery_id            1586614 non-null int64
brewery_name          1586599 non-null object
review_time           1586614 non-null int64
review_overall        1586614 non-null float64
review_aroma          1586614 non-null float64
review_appearance     1586614 non-null float64
review_profilename    1586266 non-null object
beer_style            1586614 non-null object
review_palate         1586614 non-null float64
review_taste          1586614 non-null float64
beer_name             1586614 non-null object
beer_abv              1518829 non-null float64
beer_beerid           1586614 non-null int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [8]:
#dropna
beer_reviews_src_df.dropna(inplace=True)
beer_reviews_src_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1518478 entries, 0 to 1586613
Data columns (total 13 columns):
brewery_id            1518478 non-null int64
brewery_name          1518478 non-null object
review_time           1518478 non-null int64
review_overall        1518478 non-null float64
review_aroma          1518478 non-null float64
review_appearance     1518478 non-null float64
review_profilename    1518478 non-null object
beer_style            1518478 non-null object
review_palate         1518478 non-null float64
review_taste          1518478 non-null float64
beer_name             1518478 non-null object
beer_abv              1518478 non-null float64
beer_beerid           1518478 non-null int64
dtypes: float64(6), int64(3), object(4)
memory usage: 162.2+ MB

In [9]:
#convert from epoch time to datetime
beer_reviews_src_df['review_time'] = pd.to_datetime(beer_reviews_src_df['review_time'],unit='s')
beer_reviews_src_df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,2009-02-16 20:57:03,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,2009-03-01 13:44:57,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,2009-03-01 14:10:04,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,2009-02-15 19:12:25,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,2010-12-30 18:53:26,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [10]:
#Build df of names and id's to normalize
brewery_names_df = beer_reviews_src_df[['brewery_id','brewery_name']].copy()
brewery_names_df.nunique()

brewery_id      5230
brewery_name    5155
dtype: int64

In [11]:
brewery_names_df.drop_duplicates('brewery_name',inplace=True)
brewery_names_df.set_index('brewery_id',inplace=True)
brewery_names_df.nunique()

brewery_name    5155
dtype: int64

In [12]:
brewery_names_df

                            brewery_name
brewery_id
10325                    Vecchio Birraio
1075             Caldera Brewing Company
163               Amstel Brouwerij B. V.
1454               Broad Ripple Brew Pub
850           Moon River Brewing Company
...                                  ...
21727              Gattopardo Cervejaria
6785                Brauerei Lasser GmbH
12566              Wissey Valley Brewery
7337             Outback Brewery Pty Ltd
6102        Georg Meinel Bierbrauerei KG

[5155 rows x 1 columns]

In [13]:
brewery_names_df = etl.clean_co_names(brewery_names_df,'brewery_name')
brewery_names_df

                            brewery_name                    cleaned
brewery_id
10325                    Vecchio Birraio            Vecchio Birraio
1075             Caldera Brewing Company            Caldera Brewing
163               Amstel Brouwerij B. V.      Amstel Brouwerij B. V
1454               Broad Ripple Brew Pub      Broad Ripple Brew Pub
850           Moon River Brewing Company         Moon River Brewing
...                                  ...                        ...
21727              Gattopardo Cervejaria      Gattopardo Cervejaria
6785                Brauerei Lasser GmbH            Brauerei Lasser
12566              Wissey Valley Brewery      Wissey Valley Brewery
7337             Outback Brewery Pty Ltd            Outback Brewery
6102        Georg Meinel Bierbrauerei KG  Georg Meinel Bierbrauerei

[5155 rows x 2 columns]

In [16]:
brewery_names_df.drop_duplicates('cleaned',inplace=True)
brewery_names_df

                            brewery_name                    cleaned
brewery_id
10325                    Vecchio Birraio            Vecchio Birraio
1075             Caldera Brewing Company            Caldera Brewing
163               Amstel Brouwerij B. V.      Amstel Brouwerij B. V
1454               Broad Ripple Brew Pub      Broad Ripple Brew Pub
850           Moon River Brewing Company         Moon River Brewing
...                                  ...                        ...
21727              Gattopardo Cervejaria      Gattopardo Cervejaria
6785                Brauerei Lasser GmbH            Brauerei Lasser
12566              Wissey Valley Brewery      Wissey Valley Brewery
7337             Outback Brewery Pty Ltd            Outback Brewery
6102        Georg Meinel Bierbrauerei KG  Georg Meinel Bierbrauerei

[5143 rows x 2 columns]

In [17]:
brewery_names_df.nunique()

brewery_name    5143
cleaned         5143
dtype: int64

In [18]:
beer_reviews_src_df['brewery_name'].nunique()

5155

In [ ]:
beer_reviews_src_df = etl.clean_co_names(beer_reviews_src_df,'brewery_name')
beer_reviews_src_df

In [ ]:
beer_reviews_src_df['brewery_name'].nunique()

In [ ]:
combined_beer = beer_reviews_src_df.merge(us_breweries_src_df,left_on='brewery_name', right_on='brewery_name')